.header{
	background-color: white;
}

.title{
	text-align: center;
font-family: 'Fredericka the Great', cursive;
}


.smallimage{
	width:200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.mynewcolour{
	background-color: salmon;
}

.col-sm-8{
	font-family: 'Inconsolata';
}


.testimonial-title{
	font-family: 'Fredericka the Great', cursive;
	text-align: center;
}

.testimonial-text{
	font-family: 'Inconsolata';
	text-align: center;
}


.recent-triumph-title{
	font-family: 'Fredericka the Great', cursive;
	text-align: center;
}

.same-size{
	width: 10rem;
	height:30rem;
}


.dog-title{
font-family: 'Fredericka the Great', cursive;
	text-align: center;
}

.dog-assistant{
	text-align: center;
	display: block;
	margin: 0 auto;
	width: 50%;

}

.tele{
	text-align: center;
	font-family: 'Fredericka the Great', cursive;
}


.fixed-bottom{
	background-color: black;
	text-align: center;
}

.navbar-text{
	color: white;
}